<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brightness</key>
	<real>50</real>
	<key>brightness2</key>
	<integer>250</integer>
	<key>camera_cx</key>
	<real>1297</real>
	<key>camera_cy</key>
	<real>968</real>
	<key>camera_x</key>
	<real>-127.129997253418</real>
	<key>camera_y</key>
	<real>43.54999923706055</real>
	<key>clean_x</key>
	<real>-4.809999942779541</real>
	<key>clean_y</key>
	<real>16.63999938964844</real>
	<key>clean_z1</key>
	<real>-61</real>
	<key>clean_z2</key>
	<real>0</real>
	<key>cleaning_cycle</key>
	<real>1000</real>
	<key>cleaning_gap</key>
	<real>3</real>
	<key>dut_y</key>
	<real>-22</real>
	<key>fixture_id</key>
	<real>1</real>
	<key>pid_d</key>
	<integer>60</integer>
	<key>pid_p</key>
	<real>2.4</real>
	<key>pixel_to_mm_ratio</key>
	<real>0.01099999994039536</real>
	<key>pressure_left</key>
	<real>1.5</real>
	<key>pressure_right</key>
	<real>0.699999988079071</real>
	<key>probe1_conn</key>
	<real>-1</real>
	<key>probe1_hover</key>
	<real>-55.5</real>
	<key>probe1_x</key>
	<real>-126.2399978637695</real>
	<key>probe1_y</key>
	<real>139.4400024414062</real>
	<key>probe2_conn</key>
	<real>-1</real>
	<key>probe2_hover</key>
	<real>-18</real>
	<key>probe2_x</key>
	<real>36.5</real>
	<key>probe2_y</key>
	<real>146.3500061035156</real>
	<key>software_id</key>
	<string>1.0.3.12.1</string>
	<key>tester_id</key>
	<string>17</string>
	<key>use_message_port</key>
	<false/>
	<key>use_socket_port</key>
	<true/>
	<key>socket_port</key>
	<integer>8094</integer>
</dict>
</plist>
